body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.flex-container{
    display: flex;
    width:80%;
    margin:0 10%;
}
.width-half{
    width:50%;
    margin-top: 80px;
    padding-right: 90px;
}
.width-half img{
    width: 80%;
    margin-left: 120px;
}
.width-half h1{
    margin:12px;
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
}
.color-change{
    color:rgb(204, 109, 167);
}
.banner-border{
    background-color:rgb(3, 102, 168);
    border-radius: 4px;
    margin-top: 25px;
    width: 5px;
    height: 125px;   
    position:absolute;
}
.button{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(170, 82, 136),rgb(55, 35, 109));
    padding:12px 40px;
    border-radius: 5px;
    margin:15px 0px;
    font-size: 20px;
}
.mission h1{
    font-size: 50px;
    text-align: center;
}
.mission-items{
    width: 32%;
    font-size: 16px;
    padding: 2% ;
    margin-right: 2%;
    border-radius: 25px;

}
.mission-items img{ 
    width: 50%;
}
#mission-color{
    background-color: rgb(216, 239, 241);
}
#vision-color{
    background-color: rgb(252, 213, 226);
}
#goals-color{
    background-color: cornsilk;
}
.img-width{
    width:35%;
    margin-top: 7%;
}
.img-width img{
    width: 100%;
}
.text-width{
    width:65%;
    margin-top: 7%;
}
.text-width h1{
    font-size: 35px;
    margin: 0;    
}
.right-gap{
    padding-right: 7%;
}
.contact{
    background-color: rgb(238, 212, 255);
    border-radius: 20px;
    margin-right:140px;
    padding:40px;
    height: 280px;
}
.contact h2{
    font-size: 30px;
}
label{
    font-weight: bold;
    font-size: 20px;
}
input[type=text],textarea{
    padding: 15px;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 10px;
    font-size: 16px;
}
footer{
    margin-top: 100px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom:40px;
}
footer h1{
    font-family: 'Yeseva One', cursive;
}
